.container {
  width: 780px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dee2e654;
  padding: 0 32px 32px;
  border-radius: 10px;
}
.tabCard {
  background-color: #fff;
  height: 500px;
}
